<main class="main">
  <form [formGroup]="filtroForm" (ngSubmit)="filtrar()">
    <fieldset [disabled]="">
      <div class="mb-3">
        <label for="regiao" class="form-label">Região</label>
        <select id="regiao" formControlName="regiao" class="form-select">
          <option *ngFor="let regiao of regioes" [value]="regiao">{{regiao}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="especie" class="form-label">Espécie</label>
        <select id="especie" formControlName="especie" class="form-select">
          <option *ngFor="let especie of especiesFiltradas" [value]="especie">{{especie}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status de conservação da espécie</label>
        <select id="status" formControlName="status" class="form-select">
          <option *ngFor="let status of statusEspecies" [value]="status">{{status}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="tempAgua" class="form-label">Temperatura da Água</label>
        <select id="tempAgua" formControlName="tempAgua" class="form-select">
          <option value="5">1 e 5</option>
          <option value="10">6 e 10</option>
          <option value="15">11 e 15</option>
          <option value="20">16 e 20</option>
          <option value="25">21 e 25</option>
          <option value="30">26 e 30</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="ph" class="form-label">pH</label>
        <select id="ph" formControlName="ph" class="form-select">
          <option value="7.3">7.1 a 7.3</option>
          <option value="7.6">7.4 a 7.6</option>
          <option value="8.0">7.7 a 8.0</option>
          <option value="8.3">8.1 a 8.3</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="poluicao" class="form-label">Nível de poluição</label>
        <select id="poluicao" formControlName="poluicao" class="form-select">
          <option *ngFor="let poluicao of niveisPoluicao" [value]="poluicao">{{poluicao}}</option>
        </select>
      </div>
      <div>
        <button type="submit" class="btn btn-primary botao">Filtrar</button>
      </div>
    </fieldset>
  </form>
  
  <button class="btn btn-danger botao" (click)="retirarFiltro()">Retirar filtros</button>

  <hr>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Região</th>
          <th scope="col">Nível de Poluição</th>
          <th scope="col">Temperatura da Água</th>
          <th scope="col">pH</th>
          <th scope="col">Espécies</th>
          <th scope="col">Projetos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let regiao of oceanos; let i = index">
          <th scope="row"></th>
          <td>{{ regiao.regiao }}</td>
          <td>{{ regiao.nivelPoluicao }}</td>
          <td>{{ regiao.temperaturaAgua }}</td>
          <td>{{ regiao.pH }}</td>
          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              [attr.data-bs-target]="'#staticBackdrop' + i">
              Ver Espécies
            </button>
            <div class="modal fade" [id]="'staticBackdrop' + i" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog modal-dialog-centered">
                <div class="modal-content modal-dialog modal-dialog-centered">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Espécies</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="d-inline-flex gap-1">
                      <div>
                        <div class="">
                          <div *ngFor="let especie of regiao.especies">
                            <p><b>Nome do espécie:</b> {{ especie.nome }}</p>
                            <p><b>estatus do espécie:</b> {{ especie.status }}</p>
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  </div>
                </div>
              </div>
            </div>

          </td>
          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              [attr.data-bs-target]="'#projetosModal' + i">
              Ver projetos
            </button>
            <div class="modal fade" [id]="'projetosModal' + i" tabindex="-1" aria-labelledby="projetosModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog modal-dialog-centered">
                <div class="modal-content modal-dialog modal-dialog-centered">
                  <div class="modal-header ">
                    <h5 class="modal-title" id="projetosModalLabel">Projetos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Conteúdo do modal -->
                    <div *ngFor="let projeto of regiao.projetosConservacao">
                      <p><b>Nome do projeto:</b> {{ projeto.nomeProjeto }}</p>
                      <p><b>Tipo do projeto:</b> {{ projeto.tipoProjeto }}</p>
                      <p><b>Tipo de participação:</b> {{ projeto.tipoParticipacao }}</p>
                      <hr>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  </div>
                </div>
              </div>
            </div>
        </tr>
      </tbody>
    </table>
  </div>
</main>